# ========================
# Maven
# ========================
target/
!**/src/main/**/target/
!**/src/test/**/target/

# ========================
# Eclipse
# ========================
.settings/
.classpath
.project
.factorypath

# ========================
# IntelliJ (caso alguém use)
# ========================
.idea/
*.iml

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Logs
# ========================
*.log

# ========================
# Arquivos do sistema
# ========================
.DS_Store
Thumbs.db

# ========================
# Arquivos temporários
# ========================
*.tmp
*.swp

# ========================
# Spring Boot
# ========================
*.jar
*.war
*.ear

# ========================
# Node (frontend)
# ========================
node_modules/
dist/
build/
